* {
box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-menu {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}